@import './vars.css';

.page-container {
  min-height: 100vh;
  padding: var(--margin);
}

.page::after {
  content: attr(data-page-id);
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #e0e0e0;
  padding: 2px;
  color: black;
  font-family: monospace;
  font-size: 11px;
  z-index: 10;
}

.debug-on .page::after,
[data-ver^="0"] .page::after,
[data-ver*="alpha"] .page::after,
[data-ver*="beta"] .page::after {
  display: block;
}
