.background{
    background:url(../assets/000-010-bg.png) 50% no-repeat;
    background-size:cover;
}

@media only screen and (max-width: 1024px) {
    .background{
        background:none;
        height:auto;
    }
}