.columns{
    width:calc(100% + var(--margin));
    margin-left:calc(var(--margin) - (var(--margin) * 2));
    display:inline-block;
}

.column{
    float:left;
    padding:var(--margin);
}

.column--4{
    width:33.33%;
}

.column--6{
    width:50%;
}

.columns-alt{
    display:inline-block;
    width:100%;
  
    & > div{
      margin: 30px auto 80px;
      width:716px;
      position:relative;
      right:198px;

      & span{
          float:right;
      }

      & p{
          margin: 0 334px 20px 0;
      }
  
      &:nth-child(odd){
        right: auto;
        left:198px;

        & span{
            float:left;
        }

        & p{
            margin: 0 0 20px 334px;
        }
      }
    }
}

.column-content{
    margin-bottom:40px;
    position:relative;
}

.commerz-logo,
.citi-logo,
.merrill-logo{
  width:320px;
  height:208px;
  display:inline-block;
  background-image:url(~@/assets/logo-commerzbank.png);
}

.citi-logo{
  background-image:url(~@/assets/logo-citi.png);
}

.merrill-logo{
  background-image:url(~@/assets/logo-merrill.png);
}

@media only screen and (max-width: 1024px) {
    .column{
        width:100%;
    }
}