h1, .h1 {
  font-size:4.6rem;
  font-weight: 100;
  line-height: 1.18;
  letter-spacing: -.5px;
}

h2, .h2 {
  font-size:3.6rem;
  font-weight: 100;
  line-height: 1.28;
  letter-spacing: -.25px;
}

h3, .h3 {
  font-size:3rem;
  font-weight: 100;
  line-height: 1.34;
  letter-spacing: 0;
}

h4, .h4 {
  font-size:2.4rem;
  font-weight: 100;
  line-height: 1.42;
  letter-spacing: 0;
}

h5, .h5 {
  font-size:2.1rem;
  font-weight: 400;
  line-height: 1.48;
  letter-spacing: 0;
}

h6, .h6 {
  font-size: 1.0625em;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.48;
  letter-spacing: 0;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,.h5,h5,.h6,h6{
  display:block;
  color:var(--primary);
}

@media only screen and (max-width: 1024px) {
  h1, .h1 {
      font-size:4rem;
      letter-spacing: -.25px;
      line-height: 1.28
  }

  h2, .h2 {
      font-size:3rem;
      letter-spacing: 0;
      line-height: 1.33
  }

  h3, .h3 {
      font-size:2.4rem;
      letter-spacing: 0;
      line-height: 1.42
  }

  h4, .h4 {
      font-size:2.1rem;
      letter-spacing: 0;
      line-height: 1.48
  }

  h5, .h5 {
      font-size:1.7rem;
      letter-spacing: 0;
      line-height: 1.47
  }

  h6, .h6 {
      font-size:1.7rem;
      letter-spacing: 0;
      line-height: 1.47
  }
}

a{
  color:var(--secondary);
  text-decoration: none;
}

a:focus,
a:hover{
  text-decoration: underline;
}

button,
.button a{
    border-radius:999px;
    background:var(--secondary);
    border:2px solid transparent;
    color:#FFF;
    display:inline-block;
    padding:9px 29px;
    text-decoration: none;
    font-family:"Expert Sans Regular", "Trebuchet MS", Arial, Verdana, sans-serif;
    line-height: 1.25;
    font-size:1.8rem;
    cursor:pointer;

    & span{
      color:#FFF;
    }

    &.back{
      margin-right:20px;
    }

    &.back:after,
    &.continue:after{
      content:"";
      width:20px;
      height:13px;
      display:inline-block;
      background:url(../assets/icon-arrow.svg) 50% no-repeat;
      margin-left:15px;
    }

    &.back:after{
      transform:rotateZ(180deg);
    }
}

button:focus,
button:hover,
.button a:focus,
.button a:hover,
.button--active{
    background:#E5F7FD;
    color:var(--secondary);
    border-color:var(--secondary);

    & span{
      color:var(--secondary);
    }

    &:after{
      background:url(../assets/icon-arrow-active.svg) 50% no-repeat;
    }
}

button:active,
.button a:active{
    background:var(--white);
    color:var(--secondary);
    border-color:var(--secondary);

    & span{
      color:var(--secondary);
    }
}

button[disabled=disabled],
button.disabled,
.button.disabled a,
.button.disabled:focus,
.button.disabled:hover,
.button.disabled a:focus,
.button.disabled a:hover{
  background:#EEE;
  color:var(--disabledtext);
  border-color:#CCC;
  cursor:default;
}

/* .next,
.actions{ */
.float-footer{
  padding: 0 20px 22px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;

  & button{
    margin-bottom:0px;
  }
}

.form__field{
  margin:0 0 10px 40px;
}

input[type=radio],
input[type=checkbox]{
  -webkit-appearance: none;
  -moz-appearance: none;
  width:15px;
  height:15px;
  border:1px solid var(--secondary);
  border-radius:50%;
  margin-right:10px;
}

input[type=checkbox]{
  border-radius:3px;
}

input[type=radio]:checked,
input[type=checkbox]:checked{
  background:var(--secondary);
}

.download{
  display:block;
  text-align:right;
}

.download a:before{
  content:"";
  display:inline-block;
  width:20px;
  height:20px;
  /* background:url(../images/icon-download.svg) no-repeat; */
  background-size: 20px 20px;
  margin-right:10px;
}

ul{
  margin-left: 20px;
}

.option{
  list-style:none;
}

.small{
  font-size:1.4rem;
}

@media only screen and (max-width: 1024px) {
  .option{
    margin-left:0px;
  }
}