.content{
    background:#FFF;
    width:100%;
    box-sizing:border-box;
    padding:92px var(--margin) 30px;
    box-shadow: 6px 0 12px rgba(0,0,0,0.16);
}

.content a{
    text-decoration:underline;
}

.content--4{
    width:33.33%;
}

.content--6{
    width:50%;
}

.content--8{
    width:66.667%;
}

.content__inner{
    overflow:auto;
}

.content__inner p,
.content__inner li{
    max-width:976px;
}

.option{
    margin-bottom:10px;
}

.content__stage{
    display:none;
}

.content__stage--active{
    display:block;
}

.content__image{
    float:right;
    margin:67px 0 45px 45px;
}

.content__story{
    display:inline-block;
    width:100%;
}

.content__story img {
    float:left;
    margin:0 100px 20px;
}

.content__story div{
    padding-top:40px;
}

.content__story--right img {
    float:right;
}

.content__float{
    background:var(--secondary);
    color:#FFF;
    width:608px;
    max-height:420px;
    height:calc(100vh - 212px);
    overflow:auto;
    position:absolute;
    top:118px;
    left:14px;
    padding:40px 40px 20px;

    & h1{
        color:#FFF;
    }
}

.image-s3{
    width:757px;
    height:67px;
    display:block;
    background-image:url(~@/assets/image-32.png);
}



.image-1{
    background-image:url(~@/assets/res-pic.png);
    display:block;
    width:408px;
    height:100px;
    margin-bottom:20px;
  }

@media only screen and (max-width: 1024px) {
    .content{
        padding:0 var(--margin-mob) 38px;
        height:auto;
        box-shadow: none;
        width:100%;
    }

    .content__image{
        margin:0 0 45px 0;
    }

    .content__story img {
        float:none;
        margin:0 auto;
        display: block;
    }

    .content__story div{
        padding-top:20px;
    }
}