@font-face {
  font-family: 'Expert Sans Light';
  src: url(../assets/fonts/expertsans-light-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Expert Sans Regular';
  src: url(../assets/fonts/expertsans-regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Expert Sans Bold';
  src: url(../assets/fonts/expertsans-bold-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Expert Sans B14 Light';
  src: url(../assets/fonts/expertsans-b14-light-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
} 