.footer{
    padding:0 var(--margin) 31px;
    position:fixed;
    bottom:0;
    right:0;
    z-index:4;
    box-sizing:border-box;
}

.footer__left{
    float:left;
}

.footer__right{
    float:right;
    text-align:right;
}

@media only screen and (max-width: 1024px) {
    .footer{
        padding:0 38px 31px;
        position:static;
        display:inline-block;
    }
}