*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* makes 10px = 1.0rem */
}

body {
  margin: 0;
  font: normal 1.8rem/1.5 Arial, sans-serif;
}

/* NATIVE ELEMENTS */
img {
  max-width: 100%;
  height: auto;
}

/* TRANSITIONS */
.hideScroll {
  overflow: hidden;
}

/* DEBUG */
#app:not(.debug-on) .debug {
  display: none;
}

/* CROP WITHOUT RESIZING */
.crop {
  max-width: 1000px; /* change as required, or remove to centre align */
  overflow: hidden;

  & > * {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1000px; /* change as required */
  }
}

/* KEEP ASPECT RATIO */
.aspect-ratio {
  position: relative;
  height: 0;

  &.aspect-ratio-16x9 {
    padding-bottom: 56.25%;
  }

  & > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* IE11 FIXES */
main {
  display: block;
}

/* GRID */
@custom-media --lrg (min-width: 840px);
@custom-media --med (min-width: 600px);

.grid {
  display: grid;
  grid-gap: var(--gutter);
  
  /* CODE BELOW IS REPEATED IN MODIFIERS BECAUSE */
  /* AUTOPREFIXER CANT YET HANDLE INHERITANCE FOR IE */
  /* APART FROM GRID-GAP */
  
  /* stop autoprefixer warning */
  grid-template-areas: "a a a a";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  
  @media (--med) {
    grid-template-columns: repeat(8, 1fr);
  }
  
  @media (--lrg) {
    grid-template-columns: repeat(12, 1fr);
  }

  & > *:nth-child(1) { grid-area: a; }

  & > *:nth-child(2) { grid-area: b; }

  & > *:nth-child(3) { grid-area: c; }

  & > *:nth-child(4) { grid-area: d; }
  
  & > *:nth-child(5) { grid-area: e; }

  & > *:nth-child(6) { grid-area: e; }

  & > *:nth-child(7) { grid-area: f; }

  & > *:nth-child(8) { grid-area: g; }

  & > *:nth-child(9) { grid-area: h; }
}


.grid.grid-halves {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a a a a"
    "b b b b";

  @media (--med) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "a a a a b b b b";
  }

  @media (--lrg) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "a a a a a a b b b b b b";
  }
}


.grid.grid-thirds {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "a a a a"
    "b b b b"
    "c c c c";

  @media (--med) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "a a a a b b b b"
      ". . c c c c . .";
  }

  @media (--lrg) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "a a a a b b b b c c c c";
  }
}


.grid.grid-quarters {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "a a a a"
    "b b b b"
    "c c c c"
    "d d d d";

  @media (--med) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "a a a a b b b b"
      "c c c c d d d d";
  }

  @media (--lrg) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "a a a b b b c c c d d d";
  }
}


.grid.grid-heavy-left {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a a a a"
    "b b b b";
  
  @media (--med) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "a a a a a b b b";
  }

  @media (--lrg) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "a a a a a a a a b b b b";
  }
}


.grid.grid-heavy-right {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a a a a"
    "b b b b";
  
  @media (--med) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "a a a b b b b b";
  }

  @media (--lrg) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "a a a a b b b b b b b b";
  }
}

.grid.grid-heavy-mid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "b b b b"
    "a a a a"
    "c c c c";
  
  @media (--med) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "b b b b b b b b"
      "a a a a c c c c";
  }

  @media (--lrg) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "a a a b b b b b b c c c";
  }
}


.grid.grid-mid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "a a a a";

  @media (--med) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: ". a a a a a a .";
  }

  @media (--lrg) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". . a a a a a a a a . .";
  }

  & > *:first-child {
    align-self: center;
    text-align: center;
  }
}
