@import './vars.css';

html,body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html,body,.container,.content, .content__inner, .background, main{
    height:100%;
}

html, body, span, div, p, a, li, ul, ol, h1, h2, h3, h4, h5, img, input, button, table, blockquote, fieldset, svg {
    margin: 0;
    padding: 0;
    border: 0;
    transition: color 300ms cubic-bezier(0.19, 1, 0.22, 1), background-color 300ms cubic-bezier(0.19, 1, 0.22, 1), fill 300ms cubic-bezier(0.19, 1, 0.22, 1);
    font-family: "Expert Sans Light", "Trebuchet MS", Arial, Verdana, sans-serif;
}

p, p a, label span, li{
    font-family: Verdana,"Helvetica",Helvetica,Arial,sans-serif;
}

p, li, ul, ol, h1, h2, h3, h4, h5, img, button, table, blockquote, fieldset, svg, video{
    margin-bottom:20px;
}

li{
  margin:0;
}

img{
    max-width:100%;
}

html{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    color:var(--black);
    letter-spacing: 0;
    line-height: 1.5;
    background:var(--lightgrey);
}

/* TRANSITIONS */
.hideScroll {
  overflow: hidden;
}

/* DEBUG */
#app:not(.debug-on) .debug {
  display: none;
}

/* CROP WITHOUT RESIZING */
.crop {
  overflow: hidden;
  max-width: 1000px; /* change as required, or remove to centre align */

  & > * {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1000px; /* change as required */
  }
}

/* KEEP ASPECT RATIO */
.aspect-ratio {
  height: 0;
  position: relative;

  &.aspect-ratio-16x9 {
    padding-bottom: 56.25%;
  }

  & > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.invisible{
  visibility:hidden;
}

.hidebutton .actions,
.hidden{
  display:none;
}