.header{
    width:100%;
    padding:22px var(--margin);
    position:fixed;
    top:0;
    left:0;
    z-index:5;
    box-sizing:border-box;
}

.header__right{
    float:right;
    text-align:right;
}

.header__left{
    float:left;
    width:50%;
}

@media only screen and (max-width: 1024px) {
    .header{
        padding:22px var(--margin-mob);
        position:static;
        display:inline-block;
    }
}

.page-name{
    float:right;
    color:#000;
    padding-right:var(--margin);
    margin-top: 13px;
}

.pdf-version{
    margin-right:30px;
}

.logo{
    display:block;
    position: absolute;
    z-index: 2;
}

.logo img{
    width:224px;
}

.logo .logo__mobile{
    display:none;
}

@media only screen and (max-width: 1024px) {
    .logo img{
        width:32px;
        display:none;
    }

    .logo .logo__mobile{
        display:block;
    }
}

.progress{
    display:inline-block;
    width:88px;
    height:44px;
    vertical-align: top;
    border-radius:4px;
    overflow:hidden;
    position:relative;
    text-align:center;
    font-size:2rem;
}

.progress:before,
.progress:after{
    content:"";
    width:100%;
    height:200%;
    top: -16px;
    transform: rotateZ(15deg);
    z-index:-1;
}

.progress span{
    padding: 7px 10px;
    display: inline-block;
    font-weight: 600;
    width: 40px;
}

.progress:before{
    background:#FFF;
    position:absolute;
    left: -48px;
}

.progress:after{
    background:var(--secondary);
    position:absolute;
    right: -46px;
}

.progress__current{
    color:var(--secondary);
}

.progress__total{
    color:#FFF;
}

@media only screen and (max-width: 1024px) {
    .progress{
        height:34px;
    }

    .progress span{
        padding:2px 10px;
    }
}