.header{
    width:100%;
    padding:31px var(--margin);
    position:fixed;
    top:0;
    left:0;
    z-index:2;
    box-sizing:border-box;
}

.header__right{
    float:right;
    text-align:right;
}

.header__left{
    float:left;
}

@media only screen and (max-width: 1024px) {
    .header{
        padding:31px 38px;
        position:static;
        display:inline-block;
    }
}

.logo a{
    width:224px;
    height:38.1px;
    display:block;
    background:url(../images/logo.svg) no-repeat;
    background-size:224px auto;
}

@media only screen and (max-width: 1024px) {
    .logo a{
        width:32px;
        height:34.5px;
        background:url(../images/logo-mobile.svg) no-repeat;
        background-size:32.54px auto;
    }
}

.progress{
    display:inline-block;
    width:88px;
    height:44px;
    /* background:url(../images/icon-progress.svg) no-repeat; */
    background-size:88px auto;
    vertical-align: top;
    border-radius:4px;
    overflow:hidden;
    position:relative;
    text-align:center;
    font-size:2rem;
}

.progress:before,
.progress:after{
    content:"";
    width:100%;
    height:200%;
    top: -16px;
    transform: rotateZ(15deg);
    z-index:-1;
}

.progress span{
    padding: 7px 10px;
    display: inline-block;
    font-weight: 600;
    width: 20px;
}

.progress:before{
    background:#FFF;
    position:absolute;
    left: -48px;
}

.progress:after{
    background:var(--secondary);
    position:absolute;
    right: -48px;
}

.progress__current{
    color:var(--secondary);
}

.progress__total{
    color:#FFF;
}

.menu{
    display:inline-block;
    margin-left:55px;
    vertical-align: top;
}

@media only screen and (max-width: 1024px) {
    .menu{
        margin-left:38px;
    }
}

.menu__icon{
    display:block;
}

.menu img{
    width:44px;
    height:44px;
}

.nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-sizing:border-box;
    text-align:left;
    padding:110px 55px 0;
    background:#FFF;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform:translateY(-150%);
}

.nav--active{
    transform:translateY(0);
}

@media only screen and (max-width: 1024px) {
    .nav{
        padding:110px 38px 20px;
        height: 100%;
        overflow: auto;
    }
}

.nav__close{
    width:44px;
    height:44px;
    position:absolute;
    top:31px;
    right:55px;
    background:#FFF;
}

@media only screen and (max-width: 1024px) {
    .nav__close{
        right:38px;
    }
}

.nav__close img{
    width:44px;
    height:44px;
}

.nav ol{
    list-style:none;
}

.nav li a span{
    width:26px;
    height:26px;
    line-height:26px;
    text-align:center;
    display:inline-block;
    border-radius:50%;
    background:var(--secondary);
    border:2px solid var(--secondary);
    color:#FFF;
    font-weight:600;
    margin-right:12px;
}

.nav li a:hover{
    text-decoration:none;
}

.nav li a:hover span{
    color: var(--secondary);
    background:#FFF;
}

.nav li ul{
    margin-top:20px;
    list-style:none;
}

.nav li ul a{
    vertical-align: top;
}

.nav li ul a:before{
    content:"";
    width:16px;
    height:16px;
    display:inline-block;
    border-radius:50%;
    background:var(--secondary);
    border:2px solid var(--secondary);
    margin:0 22px 0 6px;
}

.nav li ul a:hover:before{
    background:#FFF;
}

.columns__column{
    float:left;
}

.columns__column--4{
    width:33.33%;
}

@media only screen and (max-width: 1024px) {
    .columns__column{
        width:100%;
    }
}

.content{
    background:#FFF;
    width:100%;
    box-sizing:border-box;
    padding:119px var(--margin) 75px;
    box-shadow: 6px 0 12px rgba(0,0,0,0.16);
}

.content--4{
    width:33.33%;
}

.content--6{
    width:50%;
}

.content--8{
    width:66.667%;
}

@media only screen and (max-width: 1024px) {
    .content{
        padding:0 38px 38px;
        height:auto;
        box-shadow: none;
        width:100%;
    }
}

.content__inner{
    overflow:auto;
}

.content__stage{
    display:none;
}

.content__stage--active{
    display:block;
}

.content__image{
    float:right;
    margin:67px 0 45px 45px;
}

@media only screen and (max-width: 1024px) {
    .content__image{
        margin:0 0 45px 0;
    }
}

.popup{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,57,93,0.7);
    z-index: 4;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform:translateX(-100%);
}

@media only screen and (max-width: 1024px) {
    .popup{
        position: fixed;
    }
}

.popup--active{
    transform:translateX(0);
    overflow: auto;
    height: 100%;
}

.popup .content{
    padding:0;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(48%);
}

@media only screen and (max-width: 1024px) {
    .popup .content{
        transform: translateX(0%);
    }
}

.popup--active .content{
    opacity:1;
    transform:translateX(0);
}

.popup .content__inner{
    padding:119px 55px 75px;
    box-sizing:border-box;
}

.stage-nav li{
    list-style:none;
    display:inline-block;
    margin-right: 40px;
}

.stage-nav li a{
    background:var(--secondary);
    border:1px solid transparent;
    color:#FFF;
    display:inline-block;
    padding:5px 30px 1px 50px;
    text-decoration: none;
    position:relative;
    max-width: 215px;
    font-size: 2.2rem;
}

.stage-nav li a span{
    float:left;
    font-size: 48px;
    margin-right: 15px;
    font-weight:600;
}

.stage-nav li a:before,
.stage-nav li a:after{
    content:"";
	top: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    border-width: 40px;
    margin-top: -40px;
    transition: border-left-color 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.stage-nav li a:before{
    left: -1px;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #FFF;
}

.stage-nav li a:after{
    right: -80px;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: var(--secondary);
}

.stage-nav li:last-child a:after{
    content:none;
}

@media only screen and (max-width: 1024px) {
    .stage-nav li{
        display:block;
    }
    .stage-nav li a{
        padding-left:20px;
    }
    .stage-nav li a:before{
        content:none;
    }
    .stage-nav li:last-child a:after{
        content:"";
    }
}

.stage-nav li a:hover,
.stage-nav li a:focus{
    background:var(--primary);
}

.stage-nav li a:hover:after,
.stage-nav li a:focus:after{
	border-left-color: var(--primary);
}

.download{
    display:block;
    text-align:right;
}

.download a:before{
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    background:url(../images/icon-download.svg) no-repeat;
    background-size: 20px 20px;
    margin-right:10px;
}

.footer{
    width:100%;
    padding:0 var(--margin) 31px;
    position:fixed;
    bottom:0;
    left:0;
    z-index:1;
    box-sizing:border-box;
}

@media only screen and (max-width: 1024px) {
    .footer{
        padding:0 38px 31px;
        position:static;
        display:inline-block;
    }
}

.footer__left{
    float:left;
}

.footer__right{
    float:right;
    text-align:right;
}