.menu{
    display:inline-block;
    margin-left:30px;
    vertical-align: top;
}

@media only screen and (max-width: 1024px) {
    .menu{
        margin-left:24px;
    }
}

.menu > button{
    position:relative;
    z-index:1;
}

.menu__icon{
    display:block;
}

.menu svg .cls-1 {
    fill:var(--white);
  }

.menu svg .cls-2 {
    fill:var(--secondary);
}

.menu button:hover svg .cls-1,
.menu button:focus svg .cls-1{
    fill:#E5F7FD;
}

.nav{
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    box-sizing:border-box;
    text-align:left;
    background:#FFF;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav__title{
    margin-bottom:20px;
}

.menu svg,
.menu img,
.nav__close img{
    width:44px;
    height:44px;
    margin:0;
    display: block;
}

.nav ol{
    list-style:none;
}

.nav li{
    position:relative;
    margin-bottom:20px;
}

.nav li a{
    color:var(--secondary);
    text-decoration: none;
}

.nav li a .indicator{
    width:26px;
    height:26px;
    line-height:24px;
    text-align:center;
    display:inline-block;
    border-radius:50%;
    font-weight:600;
    margin-right:12px;
    background:#FFF;
    color:var(--secondary);
    border:2px solid var(--secondary);
    font-size:1.4rem;
}

.nav li a:active,
.nav li a:focus,
.nav li a:hover{
    text-decoration:underline;
}

.nav li.active:before{
    content:none;
}

.nav li.active a:hover span,
.nav li.active :focus span{
    background:#E5F7FD;
}

.nav li a.router-link-active .indicator,
.nav li a.router-link-active:hover .indicator,
.nav li a.router-link-active:focus .indicator,
.nav li a.router-link-active:active .indicator{
    background:var(--secondary);
    border-color:var(--secondary);
    color:var(--white);
}

.nav li ul{
    margin: 20px 0 0;
    list-style:none;
}

.nav li ul a{
    vertical-align: top;
}

.nav li ul a:before{
    content:"";
    width:18px;
    height:18px;
    display:inline-block;
    border-radius:50%;
    background:#CCC;
    border:2px solid #CCC;
    margin:0 22px 0 4px;
}

.nav li ul li.active a:before{
    border-color:var(--secondary);
    background:var(--white);
}

.nav li ul li.active a:hover:before,
.nav li ul li.active a:focus:before{
    background:#E5F7FD;
}

.nav li ul li.active a.router-link-active:before,
.nav li ul li.active a.router-link-active:before{
    background:var(--secondary);
}

@media only screen and (max-width: 1024px) {
    .nav{
        padding:110px var(--margin-mob) 20px;
        height: 100%;
        overflow: auto;
    }

    .nav__close{
        width:34px;
        height:34px;
        right:var(--margin-mob);
    }

    .menu img,
    .nav__close img{
        width:34px;
        height:34px;
    }
}