/* FADE */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
  position: absolute;
  width: 100%;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* SLIDE */
.slideUp-enter-active,
.slideUp-leave-active,
.slideDown-enter-active,
.slideDown-leave-active {
  transition: transform 900ms;
  position: absolute;
  width: 100%;
}

.slideUp-enter {
  transform: translate3d(0, 100%, 0);
}

.slideUp-leave-to {
  transform: translate3d(0, -100%, 0);
}

.slideDown-enter {
  transform: translate3d(0, -100%, 0);
}

.slideDown-leave-to {
  transform: translate3d(0, 100%, 0);
}
