.popup{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,57,93,0.7);
    z-index: 4;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform:translateX(-100%);
    visibility: hidden;

    &.popup--answer{
        transform: translateX(100%);
        width:50%;

        & .content{
            background:none;
            color:#FFF;
        }
    }
}

.popup.active,
.popup--active{
    transform:translateX(0);
    overflow: auto;
    height: 100%;
    visibility: visible;

    &.popup--answer{
        transform: translateX(100%);
    }
}

.popup .content{
    padding:0;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(48%);
}

.popup--answer .content{
    transform:translateX(0);
}

.popup.active .content,
.popup--active .content{
    opacity:1;
    transform:translateX(0);
    padding:119px var(--margin) 30px 55px;
}

.popup .content__inner{
    box-sizing:border-box;
}

.popup--answer .continue{
    margin-left:36px;
}

@media only screen and (max-width: 1024px) {
    .popup{
        position: fixed;
    }

    .popup .content{
        transform: translateX(0%);
    }

    .popup .content__inner{
        padding:119px var(--margin) 75px;
    }
}