.stage-nav li{
    list-style:none;
    display:inline-block;
    margin:0 40px 0 0;
}

.stage-nav li a{
    background:var(--primary);
    border:1px solid transparent;
    color:var(--white);
    display:inline-block;
    padding:5px 30px 1px 50px;
    text-decoration: none;
    position:relative;
    max-width: 215px;
    font-size: 2.2rem;
    margin-bottom:162px;
}

.stage-nav li a img{
    position:absolute;
    top:78px;
    left:0;
    width:100%;
    padding-top:12px;
}

.stage-nav li a.disabled{
    background:var(--secondary);
    color:var(--white);
}

.stage-nav li a span{
    float:left;
    font-size: 48px;
    margin-right: 15px;
    font-weight:600;
}

.stage-nav li a:before,
.stage-nav li a:after{
    content:"";
	top: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    border-width: 40px;
    margin-top: -40px;
    transition: border-left-color 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.stage-nav li a:before{
    left: -1px;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #FFF;
}

.stage-nav li a:after{
    right: -80px;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: var(--primary);
}

.stage-nav li a.disabled:after{
	border-left-color:var(--secondary);
}

.stage-nav li:last-child a:after{
    content:none;
}

.stage-nav li a.disabled:hover,
.stage-nav li a.disabled:focus{
    background:#E5F7FD;
    color:var(--secondary);
}

.stage-nav li a.disabled:hover:after,
.stage-nav li a.disabled:focus:after{
	border-left-color: #E5F7FD;
}

@media only screen and (max-width: 1024px) {
    .stage-nav li{
        display:block;
        margin:0 0 16px;
    }
    .stage-nav li a{
        padding-left:20px;
    }
    .stage-nav li a:before{
        content:none;
    }
    .stage-nav li:last-child a:after{
        content:"";
    }
}