@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Pontano+Sans');

:root {
  --primary-light: #fff828;
  --primary-dark: #ff9728;
  --accent: #26c6da;
  --background: #353433;
  --text: #eceff1;
  --text-header: #ffffff;
  --text-secondary: #b0bec5;
  --font: 'Pontano Sans', sans-serif;
  --font-accent: 'Bree Serif', sans-serif;
  --margin: 20px;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.theme-cadence {
  font: normal 1.3rem/1.5 sans-serif;
  font-family: var(--font);
  background-color: var(--background);
  color: var(--text);

  & h1, & h2, & h3, & h4, & h5, & h6 {
    margin-top: 0;
    margin-bottom: var(--margin);
    font: normal 2.7rem/1.5 sans-serif;
    font-family: var(--font-accent);
    color: var(--text-header);
    border-bottom: 2px solid var(--accent);
    display: inline-block;
  }

  & button {
    border: 0;
    font-family: var(--font-accent);
    font-size: 1.4rem;
    padding: 5px 15px;
    box-shadow: var(--shadow);

    &:hover {
      background-color: var(--accent);
      cursor: pointer;
      transition: background-color 0.3s;
    }
  }

  & .mcq-component {
    & .options > ul {
      list-style: none;
      padding-left: 0;
      display: flex;
    }

    & .option {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;
      position: relative;
      margin: 0 calc(var(--margin) / 2);
      outline: 1px solid var(--primary-dark);

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      & > label {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: var(--margin);
        box-shadow: var(--shadow);
        cursor: pointer;
        user-select: none;
      }

      & input {
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        position: absolute;
        overflow: hidden;
      }

      &.selected {
        outline: 2px solid var(--accent);
      }
    }

    & .debug {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      outline: 1px solid red;
      text-indent: -9999px;
    }

  }
}
