@import './vars.css';

@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/pontano-sans.woff') format('woff');
}

:root {
  --font: 'Pontano Sans', sans-serif;
}

body {
  font: normal 1.6rem/1.5 sans-serif;
  font-family: var(--font);
  background-color: var(--background);
  color: var(--text);
}

p {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: var(--margin);
  font-weight: normal;
  color: var(--text-header);
  border-bottom: 2px solid var(--accent);
  display: inline-block;
}

button {
  border: 0;
  margin-bottom: 1.0rem;
  background-color: var(--primary);
  color: var(--on-primary);
  font-family: inherit;
  font-size: inherit;
  padding: 5px 15px;
  box-shadow: var(--shadow);

  &:hover:not([disabled]) {
    background-color: var(--secondary);
    color: var(--on-secondary);
    cursor: pointer;
    transition: background-color 0.3s;
  }
}

button[disabled] {
  opacity: 0.5;
}
