:root {
  --white: #fff;
  --lightgrey: #f7f7f7;
  --darkgrey: #666;
  --lightblue: #f2fbfe;
  --black:#333;
  --primary:#00395D;
  --secondary:#0076b6;
  --tertiary:#00aeef;
  --disabled:#CCC;
  --disabledtext:#525252;
  --margin: 20px;
  --margin-mob: 20px;
  --background: #fff;
  --text: #606c76;
  --on-primary: #fff;
  --on-secondary: #eeea0f;
  --shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  --gutter: 16px;
}