.vjs_video_3-dimensions,
.video-js{
    margin-bottom:30px;
    width:604px !important;
    height:340px !important;
}

@media only screen and (max-width: 767px) {
    .video-js{
        width: 280px !important;
        height: 158px !important;
    }
}

.video-js .vjs-big-play-button{
    left:50%;
    top:50%;
    margin:-0.75em 0 0 -1.5em;
}

.vjs-poster{
    background-size: cover;
}

video::cue {
    font-size:1.643em;
}

video::cue(b) {
    font-size:1.643em;
}

.video-js .vjs-text-track-display > div > div > div{ 
	font-size: 1.643em !important; 
	line-height:1.33em !important;
	padding:5px !important;
    background:#000 !important;
    word-spacing: 3px;
}