<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body data-ver="<%= htmlWebpackPlugin.options.ver %>" data-project="<%= htmlWebpackPlugin.options.project %>">
    <div id="app"></div>
  </body>
</html>
