<template>
  <div class="page background" :data-page-id="pageId">
    <div
      role="main"
    >
      <div class="content__intro">
        <h1 v-html="md.header.raw" />
        <div v-html="md.body" />

        <div class="float-footer">
          <cad-btn
            ref="next"
            class="continue"
            @click="gotoNextPage"
          >
            <span v-html="md.next.raw" />
          </cad-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'

export default {
  name: 'Topic000Page010',

  components: {
    CadBtn,
    CadMcq
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '000-010'
    }
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    gotoNextPage
  }
}
</script>

<style lang="postcss" scoped>
@import '../styles/vars.css';

h1{
  width:572px;
  height:183px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  font-size:4.5rem;
}

</style>
