<template>
  <div class="page background" :data-page-id="pageId">
    <div
      role="main"
    >
      <div class="content__float">
        <h1 v-html="md.header.raw" />
        <div v-html="md.body.html" />

        <div class="float-footer">
          <cad-btn
            ref="next"
            class="continue"
            @click="gotoNextPage"
          >
            <span v-html="md.next.raw" />
          </cad-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'

export default {
  name: 'Topic010Page010',

  components: {
    CadBtn,
    CadMcq
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '010-010'
    }
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    gotoNextPage
  }
}
</script>

<style lang="postcss" scoped>
@import '../styles/vars.css';

.background{
  background-image:url(~@/assets/010-010-bg.png);
  background-size:cover;
}
</style>
