<template>
  <div class="page background" :data-page-id="pageId">
    <div
      class="content"
      role="main"
    >
      <div class="content__inner">
        <h1 v-html="md.header.raw" />
        <div v-html="md.body.html" />
        
        <div class="button-list">
          <cad-btn
            v-for="(content, index) in contentVisited"
            :key="'headersection' + index"
            class="alt"
            @click="showContentPanel(index)"
          >
            <span v-html="md['headersection' + index].raw" />
          </cad-btn>
        </div>

        <div :class="{ active: isActive }" class="popup">
          <div class="content content--8">
            <div class="content__inner" tabindex="0">
              <div
                v-html="md['contentsection' + contentActive].html"
              />

              <div class="columns">
                <div
                  class="column column--6"
                  v-html="md['contentsection' + contentActive + 'column0'].html"
                />
                <div
                  class="column column--6"
                  v-html="md['contentsection' + contentActive + 'column1'].html"
                />
              </div>

              <button
                @click="closeContentPanel"
                v-html="md.close.raw"
              />
            </div>
          </div>
        </div>

        <div class="next">
          <cad-btn
            ref="back"
            class="back"
            @click="gotoPrevPage"
          >
            <span v-html="md.back.raw" />
          </cad-btn>
          <cad-btn
            v-show="tabsComplete"
            ref="next"
            class="continue"
            @click="gotoNextPage"
          >
            <span v-html="md.next.raw" />
          </cad-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'

export default {
  name: 'Topic020Page010',

  components: {
    CadBtn,
    CadMcq
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '020-010',
      isActive: false,
      contentVisited: [false, false, false],
      contentActive: 0,
      tabsComplete: false
    }
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    gotoNextPage,
    gotoPrevPage,
    
    showContentPanel(i) {
      this.isActive = true
      this.contentActive = i
      this.contentVisited[i] = true
      if (!this.contentVisited.includes(false)) {
        this.tabsComplete = true
      }
    },

    closeContentPanel() {
      document.querySelector('.popup .content__inner').scrollTop = 0
      this.isActive = false
    }
  }
}
</script>

<style lang="postcss" scoped>
@import '../styles/vars.css';

.button-list {
  margin:40px 0 0;

  & button{
    width:220px;
    height:180px;
    border-radius: 0;
    margin:0 91px var(--margin);
    font-weight: bold;

    &:active,
    &:hover{
      background:var(--primary);
      border-color:var(--primary);

      & span{
        color:#FFF;
      }
    }

    &:before{
      content:"";
      display:block;
      margin:0 auto 14px;
    }

    &:nth-child(1):before{
      width:85px;
      height:119px;
      background-image:url(~@/assets/icon-usa-doc.png);
    }

    &:nth-child(2):before{
      width:85px;
      height:119px;
      background-image:url(~@/assets/icon-eu-doc.png);
    }

    &:nth-child(3):before{
      width:117px;
      height:107px;
      background-image:url(~@/assets/icon-mifid.png);
    }
  }
}
</style>
