<template>
  <div class="page background" :data-page-id="pageId">
    <div
      class="content"
      role="main"
    >
      <div class="content__inner">
        <h1 v-html="md.header.raw" />
        <div v-html="md.body.html" />

        <div class="button-list">
          <cad-btn
            v-for="(content, index) in contentVisited"
            :key="'contentsection' + index"
            :class="{'button--active' : (contentActive === index && contentVisited[index]), 'button--visited' : contentVisited[index]}"
            class="alt"
            @click="showContentPanel(index)"
          >
            <span v-html="(index + 1)" />
          </cad-btn>

          <img
            src="~@/assets/030-020-image.jpg"
            alt=""
          >

          <div :class="{ active: isActive }" class="popup-small">
            <div tabindex="0">
              <div
                v-html="md['contentsection' + contentActive].html"
              />
            </div>
          </div>
        </div>

        <div class="next">
          <cad-btn
            ref="back"
            class="back"
            @click="gotoPrevPage"
          >
            <span v-html="md.back.raw" />
          </cad-btn>
          <cad-btn
            v-show="tabsComplete"
            ref="next"
            class="continue"
            @click="gotoNextPage"
          >
            <span v-html="md.next.raw" />
          </cad-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'

export default {
  name: 'Topic030Page020',

  components: {
    CadBtn,
    CadMcq
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '030-020',
      isActive: false,
      contentActive: 0,
      contentVisited: [false, false, false],
      tabsComplete: false
    }
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    gotoNextPage,
    gotoPrevPage,
    
    showContentPanel(i) {
      this.isActive = true
      this.contentActive = i
      this.contentVisited[i] = true
      if (!this.contentVisited.includes(false)) {
        this.tabsComplete = true
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
@import '../styles/vars.css';

.button-list{
  position:relative;

  & button{
    padding: 9px 15px;
    position: absolute;

    &:nth-child(1){
      top: 77px;
      left: 60px;
    }

    &:nth-child(2){
      top: 43px;
      left: 387px;
    }

    &:nth-child(3){
      top: 300px;
      left: 504px;
    }
  }
}

img{
  width:578px;
}

.popup-small{
  display:none;

  &.active{
    display:block;
    position:absolute;
    top:0;
    left:50%;
    width:400px;
    padding:16px;
    border:1px solid var(--primary);
  }
}
</style>
