<template>
  <div class="page background" :data-page-id="pageId">
    <div
      class="content"
      role="main"
    >
      <div class="content__inner">
        <h1 v-html="md.header.raw" />
        <div v-html="md.body.html" />

        <div class="image-container">
          <div class="image-container-left">
            <div
              v-for="(content, index) in 3"
              :key="'section' + index"
            >
              <div class="image-content-item">
                <div class="title" v-html="md['headerleftsection' + index].raw" />
                <div class="image-content" v-html="md['contentleftsection' + index].html" />
              </div>
            </div>
          </div>
          <img src="@/assets/030-030-image.png" alt="">
          <div class="image-container-right">
            <div
              v-for="(content, index) in 3"
              :key="'section' + index"
            >
              <div class="image-content-item">
                <div class="title" v-html="md['headerrightsection' + index].raw" />
                <div class="image-content" v-html="md['contentrightsection' + index].html" />
              </div>
            </div>
          </div>
        </div>

        <div class="next">
          <cad-btn
            ref="back"
            class="back"
            @click="gotoPrevPage"
          >
            <span v-html="md.back.raw" />
          </cad-btn>
          <cad-btn
            ref="next"
            class="continue"
            @click="gotoNextPage"
          >
            <span v-html="md.next.raw" />
          </cad-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'

export default {
  name: 'Topic030Page030',

  components: {
    CadBtn,
    CadMcq
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '030-030'
    }
  },

  computed: {},

  created() {},

  mounted() {
    const contentInner = document.querySelector('.content__inner')
    contentInner.onscroll = function() {
      const divs = document.querySelectorAll('.image-content-item')
      for (var i = 0; i < divs.length; i++) {
        var bodyRect = contentInner.getBoundingClientRect()
        var elemRect = divs[i].getBoundingClientRect()
        var offset = elemRect.top - bodyRect.top

        if (contentInner.scrollTop > offset) {
          divs[i].classList.remove('invisible')
        }
      }
    }
  },

  methods: {
    gotoNextPage,
    gotoPrevPage
  }
}
</script>

<style lang="postcss" scoped>
@import '../styles/vars.css';

.image-container{
  width:1120px;
  display:block;
  margin:0 auto;

  & img{
    float:left;
  }
}

.image-container-left,
.image-container-right{
    float:left;
    width:360px;
    min-height:20px;
    position:relative;

    & > div{
      position:absolute;
      padding:0 20px;
    }
}

.title{
  color: var(--secondary);
  margin-bottom:20px;
  position:relative;
  font-size:2.2rem;

  &:after{
    content:"";
    width:calc(100% + 40px);
    height:2px;
    background: var(--secondary);
    display:block;
    position:absolute;
    bottom:-4px;
    left:0;
  }

  &:before{
    content:"";
    width:21px;
    height:21px;
    border-radius:50%;
    background: var(--secondary);
    display:block;
    position:absolute;
    bottom: -12px;
    right: -50px;
  }
}

.image-container-left{
  & > div{
    &:nth-child(1){
      top:150px;
    }

    &:nth-child(2){
      top:450px;
    }

    &:nth-child(3){
      top:800px;
    }

    &:nth-child(4){
      top:1000px;
    }
  }
}

.image-container-right{
  & > div{
    &:nth-child(1){
      top:320px;
    }

    &:nth-child(2){
      top:630px;
    }

    &:nth-child(3){
      top:990px;
    }

    &:nth-child(4){
      top:1230px;
    }
  }

  & .title{

    &:after{
      bottom:-4px;
      left:auto;
      right:0;
    }

    &:before{
      position:absolute;
      bottom: -12px;
      right: auto;
      left: -50px;
    }
  }
}

</style>
