<template>
  <div class="page background" :data-page-id="pageId">
    <div
      class="content content--6"
      role="main"
    >
      <div class="content__inner">
        <h1 v-html="md.header.raw" />
        <div v-html="md.body.html" />

        <div class="next">
          <cad-btn
            ref="back"
            class="back"
            @click="gotoPrevPage"
          >
            <span v-html="md.back.raw" />
          </cad-btn>
          <cad-btn
            ref="next"
            class="continue"
            @click="gotoNextPage"
          >
            <span v-html="md.next.raw" />
          </cad-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'

export default {
  name: 'Topic030Page070',

  components: {
    CadBtn,
    CadMcq
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '030-070'
    }
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    gotoNextPage,
    gotoPrevPage
  }
}
</script>

<style lang="postcss" scoped>
@import '../styles/vars.css';

.background{
  background-image:url(~@/assets/030-070-bg.png);
  background-position: 100% 0%;
  background-size:50% auto;
}
</style>
