<template>
  <div class="page background" :data-page-id="pageId">
    <div
      class="content content--6"
      role="main"
    >
      <div class="content__inner">
        <h1 v-html="md.header.raw" />
        <div v-html="md.body.html" />
        
        <div :class="{ hidebutton: done.q4 }">
          <cad-mcq
            ref="q4"
            :options="md.q4.raw"
            :solution="['a','b']"
            :scoring="[]"
            :pass-mark="100"
            :min-select="1"
            :auto-submit="false"
            :once="false"
          >
            <span slot="submit" v-html="md.submit.raw" />
          </cad-mcq>

          <div v-show="done.q4" class="next">
            <cad-btn
              ref="back"
              class="back"
              @click="gotoPrevPage"
            >
              <span v-html="md.back.raw" />
            </cad-btn>
            <cad-btn
              ref="next"
              class="continue"
              @click="gotoNextPage"
            >
              <span v-html="md.next.raw" />
            </cad-btn>
          </div>
        </div>

        <div :class="{ active: done.q4 }" class="popup popup--answer">
          <div class="content">
            <div class="content__inner" tabindex="0">
              <p v-if="scores.q4 === 100" v-html="md.right.html" />
              <p v-if="scores.q4 < 100" v-html="md.wrong.html" />
              <div v-html="md.answer.html" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'

export default {
  name: 'Topic040Page070',

  components: {
    CadBtn,
    CadMcq
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '040-070'
    }
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    gotoNextPage,
    gotoPrevPage
  }
}
</script>

<style lang="postcss" scoped>
@import '../styles/vars.css';

.background{
  background-image:url(~@/assets/040-020j-bg.png);
  background-position: 100% 0%;
  background-size:50% auto;
}
</style>
