<template>
  <div class="page background" :data-page-id="pageId">
    <div
      class="content"
      role="main"
    >
      <div class="content__inner">
        <h1 v-html="md.header.raw" />
        <div v-html="md.body.html" />

        <cad-accordion>
          <cad-accordion-panel
            v-for="(n, i) in 4"
            :key="i"
            :ref="'b' + i"
          >
            <span slot="heading" v-html="md['accordHeading' + i].raw" />
            <div v-html="md['accordContent' + i].raw" />
          </cad-accordion-panel>
        </cad-accordion>

        <div class="next">
          <cad-btn
            ref="back"
            class="back"
            @click="gotoPrevPage"
          >
            <span v-html="md.back.raw" />
          </cad-btn>
          <cad-btn
            ref="next"
            class="continue"
            @click="gotoNextPage"
          >
            <span v-html="md.next.raw" />
          </cad-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'
import CadAccordion from '@/components/Accordion.vue'
import CadAccordionPanel from '@/components/AccordionPanel.vue'

export default {
  name: 'Topic040Page090',

  components: {
    CadBtn,
    CadMcq,
    CadAccordion,
    CadAccordionPanel
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '040-090'
    }
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    gotoNextPage,
    gotoPrevPage
  }
}
</script>

<style lang="postcss" scoped>
@import '../styles/vars.css';
</style>
