<template>
  <div class="page background" :data-page-id="pageId">
    <div
      class="content"
      role="main"
    >
      <div class="content__inner">
        <h1 v-html="md.header.raw" />
        <div v-html="md.body.html" />

        <div class="button-list steps">
          <cad-btn
            v-for="(content, index) in md.steps.raw"
            :key="'step' + index"
            aria-disabled="true"
            disabled="true"
          >
            <span v-html="content" />
          </cad-btn>
        </div>
         
        <div class="next">
          <cad-btn
            ref="back"
            class="back"
            @click="gotoPrevPage"
          >
            <span v-html="md.back.raw" />
          </cad-btn>
          <cad-btn
            ref="next"
            class="continue"
            @click="gotoNextPage"
          >
            <span v-html="md.next.raw" />
          </cad-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'

export default {
  name: 'Topic040Page020',

  components: {
    CadBtn,
    CadMcq
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '040-020'
    }
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    gotoNextPage,
    gotoPrevPage
  }
}
</script>

<style lang="postcss" scoped>
@import '../styles/vars.css';

.steps{
  width:1221px;
  height:190px;
  background-image:url(~@/assets/steps-bg.png);
  margin-bottom:20px;

  & button{
    height: 100%;
    width: 238px;
    box-sizing: border-box;
    background:none;
    border:none;
    padding:9px 39px;
    vertical-align: top;

    &:first-child{
      width:255px;
    }
  }
}

.steps{
  & .button--active span,
  & button:hover span, & .button a:hover span,
  & button:focus span, & .button a:focus span,
  & button:active span, & .button a:active span{
    color:#FFF;
  }
}

.button-list-vertical button{
  display:block;
  width:318px;
}
</style>
