<template>
  <div
    class="page background"
    :data-page-id="pageId"
  >
    <div
      class="content content--6"
      role="main"
    >
      <div class="content__inner">
        <h2 v-html="md.header.raw" />

        <!-- Dynamically assign text via computed property -->
        <div v-html="feedbackText" />

        <div class="next">
          <cad-btn
            ref="back"
            class="back"
            @click="gotoPrevPage"
          >
            <span v-html="md.back.raw" />
          </cad-btn>
          <cad-btn
            ref="next"
            class="continue"
            @click="endQuiz"
          >
            <span v-show="this.scorePercent >= 80" v-html="md.next.raw" />
            <span v-show="this.scorePercent < 80" v-html="md.exit.raw" />
          </cad-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import successes from '@/utils/SuccessTypes.js'
import statuses from '@/utils/StatusTypes.js'

export default {
  name: 'Topic050Page030',

  components: {
    CadBtn
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '050-030'
    }
  },

  computed: {
    // get all scores from the store
    // and calculate the percentage
    scorePercent() {
      const quizStore = this.$store.state.interactions['050-020']
      let correct = 0
      let count = 0

      for (const key in quizStore) {
        if (key.includes('qz')) {
          correct += quizStore[key].success === successes.PASS ? 1 : 0
          count++
        }
      }

      return correct / count * 100
    },

    // get the relevant feedback text and inject in the score
    feedbackText() {
      const html = this.scorePercent >= 80 ? this.md.success.html : this.md.fail.html
      return html.replace('{{percent}}', this.scorePercent.toFixed(0))
    }
  },

  created() {},

  mounted() {
    // set the overall score, completion and success statuses
    // for the course, so that they get recorded on the LMS
    this.$store.commit('setOverallScore', this.scorePercent)

    // mark as completed and passed if learner has achieved 80% or above
    if (this.scorePercent >= 80) {
      this.$store.commit('progress/setOverallCompletion', statuses.COMPLETE)
      this.$store.commit('progress/setOverallSuccess', successes.PASS)
    }
  },

  methods: {
    gotoNextPage,
    gotoPrevPage,

    endQuiz() {
      if(this.scorePercent >= 80){
        gotoNextPage()
      }
      else{
        gotoPrevPage()
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
@import "../styles/vars.css";

.background {
  background-image: url(~@/assets/020-030-bg.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}
</style>
