<template>
  <div
    class="page background"
    :data-page-id="pageId"
  >
    <!-- Render current question only -->
    <!-- rather than rendering all and hiding/showing -->
    <div class="question">
      <div :class="'q-' + (currentQuestionNum)">
        <div
          class="content content--6"
        >
          <div class="content__inner">
            <!-- Text should always be defined in markdown -->
            <!-- not in the markup so it can be translated -->
            <h2>{{ md.header.raw + ' ' + (currentQuestion + 1) }}</h2>
            <div v-html="md['qz' + currentQuestionNum + 'body'].html" />

            <!-- Component refs should be unique in order -->
            <!-- for the scores to be stored individually -->
            <!-- the key is needed to treat each mcq separately -->
            <cad-mcq
              :key="'qz' + currentQuestionNum"
              :ref="'qz' + currentQuestionNum"
              :options="md['qz' + currentQuestionNum].raw"
              :solution="currentQuestionSolution"
              :pass-mark="100"
              :min-select="1"
              :max-select="currentQuestionSolution.length > 1 ? infinity : 1"
              :auto-submit="true"
            />

            <div class="next next-question">
              <cad-btn
                ref="next"
                class="continue"
                @click="nextQuestion"
              >
                <span v-html="md.next.raw" />
              </cad-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'

export default {
  name: 'Topic050Page020',

  components: {
    CadBtn,
    CadMcq
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '050-020',
      questions: [
        {
          ref: '1',
          solution: ['b']
        },
        {
          ref: '2',
          solution: ['a']
        },
        {
          ref: '3',
          solution: ['a']
        },
        {
          ref: '4',
          solution: ['a']
        },
        {
          ref: '5',
          solution: ['a']
        },
        {
          ref: '6',
          solution: ['c']
        },
        {
          ref: '7',
          solution: ['a', 'b', 'c']
        },
        {
          ref: '8',
          solution: ['a', 'b']
        },
        {
          ref: '9',
          solution: ['a']
        },
        {
          ref: '10',
          solution: ['b']
        },
        {
          ref: '11',
          solution: ['b']
        },
        {
          ref: '12',
          solution: ['a']
        },
        {
          ref: '13',
          solution: ['a']
        },
        {
          ref: '14',
          solution: ['a']
        },
        {
          ref: '15',
          solution: ['b']
        }
      ],
      currentQuestion: 0
    }
  },

  computed: {
    // 10 questions picked at random
    selectedQuestions() {
      let selected = []
      let qClone = [...this.questions]
      let count = 10

      while (count--) {
        selected.push(qClone.splice(Math.floor(Math.random() * qClone.length), 1)[0])
      }

      return selected
    },

    // get current question reference number
    // this updates when currentQuestion updates
    currentQuestionNum() {
      return this.selectedQuestions[this.currentQuestion].ref
    },

    // get the solution to the current question
    // this is used in the mcq component
    currentQuestionSolution() {
      return this.selectedQuestions[this.currentQuestion].solution
    }
  },

  created() {},

  mounted() {
    this.scorePercent = 0
  },

  methods: {
    gotoNextPage,
    gotoPrevPage,
    nextQuestion() {
      this.currentQuestion++

      if (this.currentQuestion === this.selectedQuestions.length) {
        this.gotoNextPage()
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
@import "../styles/vars.css";

.background {
  background-image: url(~@/assets/020-030-bg.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.question,
.question > div {
  height: 100%;
}

.actions {
  display: none;
}

.q-1 {
  background-image: url(~@/assets/050-020_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-2 {
  background-image: url(~@/assets/050-030_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-3 {
  background-image: url(~@/assets/050-040_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-4 {
  background-image: url(~@/assets/050-050_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-5 {
  background-image: url(~@/assets/050-060_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-6 {
  background-image: url(~@/assets/050-070_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-7 {
  background-image: url(~@/assets/050-080_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-8 {
  background-image: url(~@/assets/050-090_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-9 {
  background-image: url(~@/assets/050-0100_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-10 {
  background-image: url(~@/assets/050-0110_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-11 {
  background-image: url(~@/assets/050-0120_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-12 {
  background-image: url(~@/assets/050-0130_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-13 {
  background-image: url(~@/assets/050-0140_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-14 {
  background-image: url(~@/assets/050-0150_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}

.q-15 {
  background-image: url(~@/assets/050-0160_img.png);
  background-position: 100% 50%;
  background-size: 50% auto;
}
</style>
