<template>
  <div class="page background" :data-page-id="pageId">
    <div
      class="content content--6"
      role="main"
    >
      <div class="content__inner">
        <h1 v-html="md.header.raw" />
        <div v-html="md.body.html" />

        <div class="button-list-vertical">
          <cad-btn
            v-for="(content, index) in 3"
            :key="'headersection' + index"
            class="alt"
            @click="showContentPanel(index)"
          >
            <span v-html="md['headersection' + index].raw" />
          </cad-btn>
        </div>

        <div :class="{ active: isActive }" class="popup">
          <div class="content content--8">
            <div class="content__inner" tabindex="0">
              <div
                v-html="md['contentsection' + contentActive].raw"
              />

              <button
                @click="closeContentPanel"
                v-html="md.close.raw"
              />
            </div>
          </div>
        </div>

        <div class="next">
          <cad-btn
            ref="back"
            class="back"
            @click="gotoPrevPage"
          >
            <span v-html="md.back.raw" />
          </cad-btn>
          <cad-btn
            ref="next"
            class="continue"
            @click="getBeginning"
          >
            <span v-html="md.next.raw" />
          </cad-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { getBeginning, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'

export default {
  name: 'Topic060Page010',

  components: {
    CadBtn,
    CadMcq
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '060-010',
      isActive: false,
      contentActive: 0
    }
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    getBeginning,
    gotoPrevPage,
    
    showContentPanel(i) {
      this.isActive = true
      this.contentActive = i
    },

    closeContentPanel() {
      document.querySelector('.popup .content__inner').scrollTop = 0
      this.isActive = false
    }
  }
}
</script>

<style lang="postcss" scoped>
@import '../styles/vars.css';

.background{
  background-image:url(~@/assets/060-010-bg.png);
  background-position: 100% 50%;
  background-size:50% auto;
}

.button-list-vertical button{
  display:block;
  width:318px;
}
</style>
