<template>
  <div class="page" :data-page-id="pageId">
    <cad-btn
      v-for="(n, i) in 3"
      :key="i"
      :ref="'b' + i"
      @click="e => (selected = e.ref)"
    >
      <span v-html="md['b' + i].raw" />
    </cad-btn>

    <div v-if="selected" v-html="md['rvl' + /\d+/.exec(selected)].html" />

    <cad-btn ref="prev" @click="gotoPrevPage">
      <span v-html="md.prev.raw" />
    </cad-btn>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'

export default {
  name: 'Topic010Page020',

  components: {
    CadBtn,
    CadMcq
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '010-020'
    }
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    gotoNextPage,
    gotoPrevPage
  }
}
</script>

<style lang="postcss" scoped>
@import '../styles/vars.css';
</style>
