<template>
  <div class="page" :data-page-id="pageId">
    <div v-html="md.header.html" />

    <cad-btn ref="b1">
      <span v-html="md.b1.raw" />
    </cad-btn>

    <div v-if="done.b1" v-html="md.rvl.html" />

    <cad-mcq
      ref="q1"
      :options="md.q1.raw"
      :solution="['a', 'c']"
      :scoring="[]"
      :pass-mark="100"
      :min-select="1"
      :max-select="2"
      :auto-submit="false"
      :once="false"
    >
      <span slot="submit" v-html="md.q1submit.raw" />
    </cad-mcq>

    <div v-if="scores.q1 === 100" v-html="md.fbc.html" />

    <div v-if="scores.q1 < 100" v-html="md.fbi.html" />

    <cad-btn ref="next" @click="gotoNextPage">
      <span v-html="md.next.raw" />
    </cad-btn>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'

export default {
  name: 'Topic010Page010',

  components: {
    CadBtn,
    CadMcq
  },

  mixins: [pageMixin],

  data() {
    return {
      pageId: '010-010'
    }
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    gotoNextPage,
    gotoPrevPage
  }
}
</script>

<style lang="postcss" scoped>
@import '../styles/vars.css';
</style>
