<%
  var label = ''
  switch (parser(args)._[1]) {
    case 'next':
      label = 'Next'
      break
    case 'prev':
      label = 'Prev'
      break
    default:
      label = 'Click'
  }
-%>
{<%= ref %>}
==============================
<%= label %>

