<%
  var click = ''
  switch (parser(args)._[1]) {
    case 'next':
      click = 'gotoNextPage'
      break
    case 'prev':
      click = 'gotoPrevPage'
      break
    case 'select':
      click = 'e => selected = e.ref'
  }
%>

<% if (vfor) { %>
  <cad-btn
    v-for="(n, i) in <%= vfor %>"
    :key="i"
    :ref="'<%= ref %>' + i"
    <%_ if (click) { %> @click="<%- click %>"<% } %>
    >
    <span v-html="md['<%= ref %>' + i].raw" />
  </cad-btn>
<% } else { %>
  <cad-btn<% if (vif) { %> v-if="done.<%= vif %>"<% } %> ref="<%= ref %>"<% if (click) { %> @click="<%- click %>"<% } %>>
    <span v-html="md.<%= ref %>.raw" />
  </cad-btn>
<% } %>
