<%
  const arg = parser(args, {
    array: ['c', 's'],
    default: {
      s: [],
      p: 0,
      n: 0,
      x: Infinity,
      a: false,
      o: false
    }
  })
%>
<cad-mcq
  <%_ if (vif) { %> v-if="<%- vif %>"<% } %>
  ref="<%= ref %>"
  :options="md.<%= ref %>.raw"
  :solution="[<% for (let i in arg.c) { %>'<%= arg.c[i] %>',<% } %>]"
  :scoring="[<% for (let i in arg.s) { %><%= arg.s[i] %>,<% } %>]"
  :pass-mark="<%= arg.p %>"
  :min-select="<%= arg.n %>"
  :max-select="<%= arg.x %>"
  :auto-submit="<%= arg.a %>"
  :once="<%= arg.o %>"
>
  <span slot="submit" v-html="md.<%= ref %>submit.raw" />
</cad-mcq>
