<template>
  <div
    class="page"
    :data-page-id="pageId"
  >
    <%- page.default %>
  </div>
</template>

<script>
import pageMixin from '@/mixins/PageMixin'
import { gotoNextPage, gotoPrevPage } from '@/utils/Nav'
import CadBtn from '@/components/Btn.vue'
import CadMcq from '@/components/MultipleChoice.vue'

export default {
  name: '<%= 'Topic' + page.id.replace('-', 'Page') %>',

  components: {
    CadBtn,
    CadMcq
  },

  mixins: [ pageMixin ],

  data() {
    return {
      pageId: '<%= page.id %>'
    }
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    gotoNextPage,
    gotoPrevPage
  }
}
</script>

<style lang="postcss" scoped>
@import '../styles/vars.css';
</style>
