<%
  var txt = ''
  var type = parser(args)._[1]
  if (type && type.match(/h[2-6]/)) {
    txt = '#'.repeat(+type.substr(1)) + ' ' + ipsum.sentence(3)
  } else if (type === 'ins') {
    txt = ipsum.paragraph(1)
  } else {
    txt = ipsum.paragraph(3)
  }
-%>
{<%= ref %>}
==============================
<%= txt %>
