<% var type = parser(args)._[1] %>
<% if (vfor && vif) { %>
  <div
    v-if="selected"
    v-html="md['<%= ref %>' + /\d+/.exec(selected)].html"
  />
<% } else if (vfor) { %>
  <div
    v-for="(n, i) in <%= vfor %>"
    :key="i"
    v-html="md['<%= ref %>' + i].html"
  />
<% } else { %>
  <div<% if (vif) { %> v-if="<%- vif %>"<% } %><% if (type === 'ins') { %> class="instruction"<% } %> v-html="md.<%= ref %>.html" />
<% } %>
