<template>
  <div class="cad-accordion-panel">
    <h3>
      <button
        :aria-expanded="isExpanded ? 'true' : 'false'"
        :class="isExpanded ? 'active' : ''"
        @click="onClick"
      >
        <slot name="heading" />
      </button>
    </h3>
    <collapse-transition>
      <div
        v-show="isExpanded"
        class="cad-accordion-content"
      >
        <slot />
      </div>
    </collapse-transition>
  </div>
</template>

<script>
import { CollapseTransition } from 'vue2-transitions'

export default {
  components: {
    CollapseTransition
  },

  props: {
    expanded: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      index: null,
      isExpanded: this.expanded
    }
  },

  created() {
    this.index = this.$parent.register(this)
  },

  methods: {
    expand() {
      this.isExpanded = true
    },

    contract() {
      this.isExpanded = false
    },

    onClick() {
      this.$parent.expand(this.index)
    }
  }
}
</script>

<style lang="postcss">
@import '../styles/vars.css';

.cad-accordion-panel > h3 {
  margin: 0;
}

.cad-accordion-panel button {
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border-radius:0;
  margin-bottom:0;
  background-image:url(~@/assets/accordian-plus.svg);
  background-repeat:no-repeat;
  background-position:98% 50%;
  background-size:32px auto;
  margin-bottom:5px;

  &.active,
  &.active:hover,
  &.active:focus{
    color:#FFF;
    background-color:var(--primary);
    border-color:var(--primary);
    background-image:url(~@/assets/accordian-minus.svg);
    margin-bottom:0px;

    & span{
      color:#FFF;
    }
  }
}

.cad-accordion-content{
  background:#EFEFEF;
  padding:30px 30px 15px;
}
</style>
