<template>
  <div
    class="cad-accordion"
    :class="'completion-' + completion"
  >
    <slot />
  </div>
</template>


<script>
export default {
  name: 'CadAccordion',

  props: {
    multiple: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      expanded: [],
      viewed: [],
      panels: [],
      completion: 'incomplete'
    }
  },

  methods: {
    register(panel) {
      this.expanded.push(false)
      this.panels.push(panel)
      return this.panels.length - 1
    },

    expand(selected) {
      if (this.multiple) {
        this.$set(this.expanded, selected, !this.expanded[selected])
      } else {
        this.expanded = this.expanded.map((val, i) => {
          if (val && i === selected) return false
          return i === selected
        })
      }

      this.expanded.forEach((val, i) => {
        if (val) {
          this.panels[i].expand()
        } else {
          this.panels[i].contract()
        }
      })

      if (!this.viewed.includes(selected)) {
        this.viewed.push(selected)
      }

      this.$emit('change', {
        expanded: this.expanded,
        viewed: this.viewed
      })

      if (this.viewed.length === this.panels.length && this.completion !== 'complete') {
        this.completion = 'complete'
        this.$emit('done', this.expanded)
      }
    }
  }
}
</script>


<style>
.cad-accordion {
  overflow: hidden;
  margin-bottom:20px;
}
</style>
