<template>
  <button
    :disabled="isDisabled"
    class="cad-btn"
    type="button"
    @click="onClick"
  >
    <slot>Click</slot>
  </button>
</template>

<script>
import interactionMixin from '@/mixins/InteractionMixin'
import statuses from '@/utils/StatusTypes'

export default {
  name: 'CadBtn',

  mixins: [ interactionMixin ],

  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    once: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {}
  },

  computed: {
    isDisabled() {
      return this.disabled || (this.once && this.statusCompletion === statuses.COMPLETE)
    }
  },

  mounted() {},

  methods: {
    onClick() {
      this.completion = statuses.COMPLETE
      this.$emit('click', { ref: this.ref })
    }
  }
}
</script>
