<template>
  <div
    class="cad-collapsible"
    :class="'completion-' + completion"
  >
    <div
      v-for="(s, i) in content"
      :key="i"
      class="collapsible-wrapper"
    >
      <h3>
        <button
          :aria-expanded="expanded[i] ? 'true' : 'false'"
          @click="onClick(i)"
        >
          <span v-html="s.heading" />
        </button>
      </h3>
      <collapse-transition>
        <div
          v-show="expanded[i] == true"
          :key="'content' + i"
          class="collapsible-content"
          v-html="s.body"
        />
      </collapse-transition>
    </div>
  </div>
</template>


<script>
import interactionMixin from '@/mixins/InteractionMixin'
import { CollapseTransition } from 'vue2-transitions'
import statuses from '@/utils/StatusTypes'

export default {
  name: 'CadCollapsible',

  components: {
    CollapseTransition
  },

  mixins: [ interactionMixin ],

  props: {
    content: {
      type: Array,
      required: true
    },
    accordion: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      expanded: [],
      viewed: []
    }
  },

  mounted() {
    this.content.forEach(element => {
      this.expanded.push(false)
    })
  },

  methods: {
    onClick(selected) {
      if (this.accordion) {
        this.expanded = this.expanded.map((val, i) => {
          if (val && i === selected) return false
          return i === selected
        })
      } else {
        this.$set(this.expanded, selected, !this.expanded[selected])
      }

      if (!this.viewed.includes(selected)) {
        this.viewed.push(selected)
      }

      this.$emit('change', {
        expanded: this.expanded,
        viewed: this.viewed
      })

      if (this.viewed.length === this.content.length && this.completion !== statuses.COMPLETE) {
        this.completion = statuses.COMPLETE
        this.$emit('done', this.expanded)
      }
    }
  }
}
</script>


<style>
.cad-collapsible h3 {
  margin: 0;
}

.cad-collapsible {
  overflow: hidden;
}
</style>
