<template>
  <div
    ref="panel"
    :class="[{'content-panel-closed': isClosed}, direction]"
    class="content-panel"
  >
    <div class="content-panel-content">
      <slot />
    </div>

    <button
      v-show="closeBtn"
      type="button"
      class="content-panel-btn close-btn"
      :style="{ visibility: isClosed ? 'hidden' : '' }"
      @click="close"
    >
      <slot name="close">Close</slot>
    </button>
  </div>
</template>

<script>
export default {
  props: {
    closeBtn: {
      type: Boolean,
      default: true
    },
    closed: {
      type: Boolean,
      default: true
    },
    direction: {
      type: String,
      default: 'left'
    },
    scrollTop: {
      type: Boolean,
      default: true
    }
  },

  data() {
    return {
      isClosed: this.closed
    }
  },

  methods: {
    open() {
      this.isClosed = false
      this.$emit('open')
      if (this.scrollTop) this.$refs.panel.scrollTop = 0
    },
    close() {
      this.isClosed = true
      this.$emit('close')
    }
  }
}
</script>

<style>
.content-panel {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  transition: 0.5s transform;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.content-panel.left {
  left: 0;
}

.content-panel.right {
  right: 0;
}

.content-panel-closed.left {
  transform: translateX(-100%);
}

.content-panel-closed.right {
  transform: translateX(100%);
}
</style>
