<template>
  <div class="debug-menu" :class="[layout]">
    <nav v-if="visible" class="menu">
      <slot />
      <ul class="topics">
        <li v-for="(topic, topicId, i) in struct" :key="'topic' + i">
          <h2 :class="[getTopicStatus(topicId)]">
            <span>{{ topicId }}</span><span v-if="titles[i]">{{ ': ' + titles[i].name }}</span>
          </h2>
          <ul class="subtopics">
            <li
              v-for="(completion, pageId, j) in topic"
              :key="'page' + j"
              :class="[completion, { current: isCurrentPage(+i, +j) }]"
            >
              <div v-if="debugEnabled" class="completion-control">
                <button
                  :disabled="completion === statuses.UNKNOWN"
                  class="setUnknown"
                  data-name="unknown"
                  @click="setPageCompletion(pageId, {target: {value: statuses.UNKNOWN}})"
                />
                <button
                  :disabled="completion === statuses.INCOMPLETE"
                  class="setIncomplete"
                  data-name="incomplete"
                  @click="setPageCompletion(pageId, {target: {value: statuses.INCOMPLETE}})"
                />
                <button
                  :disabled="completion === statuses.COMPLETE"
                  class="setComplete"
                  data-name="complete"
                  @click="setPageCompletion(pageId, {target: {value: statuses.COMPLETE}})"
                />
              </div>
              <router-link :to="'/' + i + '/' + j" @click.native="onPageClick">
                <span class="page-uid">{{ pageId }}</span>
                <span v-if="titles[i]" class="page-title">{{ titles[i].pages[j] }}</span>
              </router-link>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <button class="toggle" @click="visible = !visible">≡</button>
  </div>
</template>

<script>
import axios from 'axios'
import statuses from '@/utils/StatusTypes'

export default {
  name: 'DebugMenu',

  props: {
    autoclose: {
      type: Boolean,
      default: true
    },
    layout: {
      type: String,
      default: 'list' // list|tile
    }
  },

  data() {
    return {
      visible: false,
      titles: [],
      statuses
    }
  },

  computed: {
    struct() {
      if (!this.$store) return []
      const prog = this.$store.state.progress
      const o = {}
      Object.keys(prog).forEach((topic) => {
        if (/\d{3}/.test(topic)) {
          o[topic] = {}
          Object.keys(prog[topic]).forEach((page) => {
            if (/\d{3}-\d{3}/.test(page)) {
              o[topic][page] = prog[topic][page]
            }
          })
        }
      })
      return o
    },

    currentPage() {
      return this.$store ? this.$store.state.bookmark : '/-1/-1'
    },

    debugEnabled() {
      return this.$store.state.debug
    }
  },

  created() {
    axios.get(`./pages/${this.$store.state.lang}/menu.md`).then(res => {
      const a = []
      const lines = res.data.split('\n')
      lines.forEach(l => {
        const matchTopic = l.match(/^- (.*)/)
        if (matchTopic) {
          a.push({ name: matchTopic[1], pages: [] })
        } else {
          const matchPage = l.match(/^\s+- (.*)/)
          if (matchPage) {
            const topic = a[a.length - 1]
            topic.pages.push(matchPage[1])
          }
        }
      })
      this.titles = a.slice()
    })
  },

  methods: {
    onPageClick() {
      if (this.autoclose) this.visible = false
    },
    isCurrentPage(topic, page) {
      let curr = this.currentPage.split('/')
      return topic === +curr[1] && page === +curr[2]
    },
    getTopicStatus(id) {
      return this.$store.state.progress[id].completion
    },
    setPageCompletion(pageId, event) {
      this.$store.dispatch('progress/setCompletion', { page: pageId, status: event.target.value })
    }
  }
}
</script>

<style>
.debug-menu {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  font: normal 14px sans-serif;
}

.debug-menu .menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #303030;
  color: #cfd8dc;
}

.debug-menu h2 {
  margin: 0;
  border-left: 10px solid rgba(0, 0, 0, 0.14);
  padding-left: 10px;
  font-size: 1em;
  font-weight: normal;
  color: #f44336;
}

.debug-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.debug-menu .topics {
  margin: 10px;
}

.debug-menu .subtopics li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #424242;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-left: 10px solid rgba(0, 0, 0, 0.14);
}

.debug-menu h2.complete,
.debug-menu .subtopics li.complete {
  border-color: #4caf50;
}
.debug-menu h2.incomplete,
.debug-menu .subtopics li.incomplete {
  border-color: #eedd50;
}

.debug-menu .subtopics li.current {
  background-color: #455a64;
}

.debug-menu .subtopics li a {
  display: block;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.debug-menu .subtopics li a .page-uid {
  color: #03a9f4;
}

/* LAYOUT - list */
.debug-menu.list .subtopics li a .page-uid {
  display: inline-block;
  margin: 0 10px 0 5px;
}

/* LAYOUT - tile */
.debug-menu.tile .subtopics {
  display: flex;
  flex-wrap: wrap;
}

.debug-menu.tile .subtopics li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 130px;
  margin: 0 10px 10px;
  border-radius: 2px;
  border-top: 10px solid rgba(0, 0, 0, 0.14);
  border-left: none;
}

.debug-menu.tile .subtopics li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.debug-menu.tile .subtopics li a span {
  display: block;
  margin: 5px 0;
}

/* TOGGLE BUTTON */
.debug-menu .toggle {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 0;
  width: 36px;
  height: 36px;
  padding: 0;
}

/* PROGRESS CONTROL BUTTONS */
.completion-control {
  display: flex;
  & button {
    border: 0;
    box-shadow: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding: 0;
    margin: 0 1px;
    opacity: 0.1;
    font-size: inherit;
    line-height: 1;
    position: relative;
    z-index: 1;

    &.setUnknown,
    &.setUnknown:hover {
      background-color: #ccc;
    }
    &.setIncomplete,
    &.setIncomplete:hover {
      background-color: #eedd50;
    }
    &.setComplete,
    &.setComplete:hover {
      background-color: #4caf50;
    }

    &:hover {
      opacity: 1;
      z-index: 2;
      &::after {
        content: attr(data-name);
        color: #666;
        background-color: #eee;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 2px;
        border: 1px solid #666;
      }
    }
  }
}

.unknown .setUnknown {
  opacity: 1;
  cursor: default;
}
.complete .setComplete {
  opacity: 1;
  cursor: default;
}
.incomplete .setIncomplete {
  opacity: 1;
  cursor: default;
}

</style>
