<template>
  <div :class="['completion-' + completion, 'success-' + success]" class="cad-mcq">
    <div class="options">
      <ul>
        <li
          v-for="(option, index) in options"
          :key="'opt' + index"
          :class="optionClass(option, numToLetter(index))"
          class="option"
        >
          <label>
            <input
              v-if="maxSelect === 1"
              :key="'input' + index"
              :ref="'input' + index"
              v-model="selected"
              :value="numToLetter(index)"
              :disabled="disabled[index]"
              type="radio"
              @change="onChange"
            >
            <input
              v-else
              :key="'input' + index"
              :ref="'input' + index"
              v-model="selected"
              :value="numToLetter(index)"
              :disabled="disabled[index]"
              type="checkbox"
              @change="onChange"
            >
            <span v-html="option" />
            <span v-if="solution.includes(numToLetter(index)) && $store.state.debug" class="debug"> 👍</span>
            <span v-if="isPointsMode && $store.state.debug" class="debug"> ({{ scoring[index] }})</span>
          </label>
        </li>
      </ul>
    </div>

    <div class="actions">
      <button
        v-if="!autoSubmit"
        :disabled="isBtnDisabled"
        type="button"
        @click="assess"
      >
        <slot name="submit" />
      </button>
    </div>
  </div>
</template>

<script>
import interactionMixin from '@/mixins/InteractionMixin'
import choice from '@/utils/Choice'
import statuses from '@/utils/StatusTypes'
import successes from '@/utils/SuccessTypes'

export default {
  name: 'CadMcq',

  mixins: [ interactionMixin ],

  props: {
    options: {
      type: Array,
      required: true
    },
    solution: {
      type: Array,
      default: () => []
    },
    scoring: {
      type: Array,
      default: () => []
    },
    passMark: {
      type: Number,
      default: 0
    },
    autoSubmit: {
      type: Boolean,
      default: false
    },
    minSelect: {
      type: Number,
      default: 0
    },
    maxSelect: {
      type: Number,
      default: Infinity
    },
    once: {
      type: Boolean,
      default: false
    },
    persist: {
      type: String,
      default: null
      // valid: ''|completion|success|score|input
    }
  },

  data() {
    return {
      selected: []
    }
  },

  computed: {
    isDisabled() {
      return this.score !== null && this.once
    },

    disabled() {
      return this.choices.map((choice, i) => {
        // Disable all checkboxes if interaction is disabled
        if (this.isDisabled) return true
        // Ignore if using radios
        if (this.maxSelect === 1) return false
        // Disable unselected checkboxes if max limit is reached
        if (this.selected.length === this.maxSelect && !this.selected.includes(choice)) return true
        return false
      })
    },

    isBtnDisabled() {
      return this.isDisabled || this.selected.length < this.minSelect
    },

    choices() {
      return this.options.map((opt, i) => this.numToLetter(i))
    },

    isPointsMode() {
      return this.scoring.length > 0
    },

    points() {
      const total = this.scoring.reduce((sum, score, i) => {
        return sum + (this.selected.includes(i.toString()) ? score : 0)
      }, 0)
      if (isNaN(total)) return null
      return total
    },

    score: {
      get() {
        if (!this.$store) return successes.UNKNOWN
        return this.storeData.score || null
      },
      set(val) {
        if (!this.$store) return
        this.$store.dispatch('interactions/setScore', { page: this.pageId, ref: this.ref, val })
      }
    }
  },

  created() {
    // Reset stored data if not persisting
    if (!this.willPersist('score')) this.score = null
    // Restore user input
    if (this.willPersist('input') && this.storeData.input) {
      this.selected = this.storeData.input
    }
  },

  mounted() {},

  methods: {
    assess() {
      if (!this.isPointsMode) {
        this.score = choice(this.choices, this.solution, this.selected, true)
      }

      this.completion = statuses.COMPLETE
      this.success = (this.isPointsMode ? this.points : this.score) >= this.passMark ? successes.PASS : successes.FAIL

      if (this.$store) {
        this.$store.dispatch('interactions/setInput', {
          page: this.pageId,
          ref: this.ref,
          val: this.selected
        })
      }

      this.$emit('submit', {
        ref: this.ref,
        selected: this.selected,
        score: this.score,
        points: this.points,
        status: {
          completion: this.completion,
          success: this.success
        }
      })
    },

    onChange() {
      this.$emit('change', { selected: this.selected })

      if (this.autoSubmit) {
        this.assess()
      }
    },

    numToLetter(num) {
      return String.fromCharCode(97 + num)
    },

    optionClass(option, val) {
      return {
        selected: this.selected.includes(val),
        correct: this.solution.includes(val) && this.completion === statuses.COMPLETE
      }
    }
  }

}
</script>
