<template>
  <div class="cad-menu menu" :class="[layout]">
    <nav v-if="visible" class="nav">
      <div class="content content--6">
        <slot />
        <h1>Swaps and derivatives</h1>
        <ul class="topics">
          <li v-for="(topic, topicId, i) in struct" :key="'topic' + i">
            <router-link v-if="i > 0" :to="'/' + i + '/' + 0" @click.native="onPageClick">
              <span class="indicator">{{ i }}</span>
              <span v-if="titles[i]">{{ titles[i].name }}</span>
            </router-link>
          </li>
        </ul>
        <p class="small">You can access the menu at any time using the menu icon in the course.</p>
      </div>
    </nav>

    <button @click="visible = !visible">
      <svg
        id="Menu_icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 44 44"
      >
        <title>Menu</title>
        <path
          id="Path_2186"
          data-name="Path 2186"
          class="cls-1"
          d="M40.333,3.667V40.333H3.667V3.667H40.333"
        />
        <path
          id="Path_3"
          data-name="Path 3"
          class="cls-2"
          d="M40.333,3.667V40.333H3.667V3.667H40.333m0-3.667H3.667A3.62,3.62,0,0,0,0,3.667V40.333A3.667,3.667,0,0,0,3.667,44H40.333A3.667,3.667,0,0,0,44,40.333V3.667A3.62,3.62,0,0,0,40.333,0"
        />
        <rect
          id="Rectangle_1"
          data-name="Rectangle 1"
          class="cls-2"
          width="29.333"
          height="3.667"
          transform="translate(7.333 11)"
        />
        <rect
          id="Rectangle_2"
          data-name="Rectangle 2"
          class="cls-2"
          width="29.333"
          height="3.667"
          transform="translate(7.333 20.167)"
        />
        <rect
          id="Rectangle_3"
          data-name="Rectangle 3"
          class="cls-2"
          width="29.333"
          height="3.667"
          transform="translate(7.333 29.333)"
        />
      </svg>
    </button>
  </div>
</template>

<script>
import axios from 'axios'
import statuses from '@/utils/StatusTypes'

export default {
  name: 'CadMenu',

  props: {
    autoclose: {
      type: Boolean,
      default: true
    },
    layout: {
      type: String,
      default: 'list' // list|tile
    }
  },

  data() {
    return {
      visible: false,
      titles: [],
      statuses
    }
  },

  computed: {
    struct() {
      if (!this.$store) return []
      const prog = this.$store.state.progress
      const o = {}
      Object.keys(prog).forEach((topic) => {
        if (/\d{3}/.test(topic)) {
          o[topic] = {}
          Object.keys(prog[topic]).forEach((page) => {
            if (/\d{3}-\d{3}/.test(page)) {
              o[topic][page] = prog[topic][page]
            }
          })
        }
      })
      return o
    },

    currentPage() {
      return this.$store ? this.$store.state.bookmark : '/-1/-1'
    },

    debugEnabled() {
      return this.$store.state.debug
    }
  },

  created() {
    axios.get(`./pages/${this.$store.state.lang}/menu.md`).then(res => {
      const a = []
      const lines = res.data.split('\n')
      lines.forEach(l => {
        const matchTopic = l.match(/^- (.*)/)
        if (matchTopic) {
          a.push({ name: matchTopic[1], pages: [] })
        } else {
          const matchPage = l.match(/^\s+- (.*)/)
          if (matchPage) {
            const topic = a[a.length - 1]
            topic.pages.push(matchPage[1])
          }
        }
      })
      this.titles = a.slice()
    })
  },

  methods: {
    onPageClick() {
      if (this.autoclose) this.visible = false
    },
    isCurrentPage(topic, page) {
      let curr = this.currentPage.split('/')
      this.current = +curr[1]
      return topic === +curr[1] && page === +curr[2]
    },
    getTopicStatus(id) {
      return this.$store.state.progress[id].completion
    },
    setPageCompletion(pageId, event) {
      this.$store.dispatch('progress/setCompletion', { page: pageId, status: event.target.value })
    }
  }
}
</script>

<style>

.cad-menu .nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-image:url(~@/assets/menu-bg.png);
  background-position: 100% 0%;
  background-size:50% auto;
}

.cad-menu button{
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  box-shadow: none;

  &:hover,
  &:active{
    background:none;
  }
}

.cad-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cad-menu .topics {
  margin: 10px;
}

</style>
