<template>
  <div class="smooth-subs">
    <transition-group :name="fade ? 'subsfade' : ''">
      <p
        v-for="line in lines"
        :key="line.part.substr(9)"
        v-html="line.part"
      />
    </transition-group>
  </div>
</template>

<script>
import axios from 'axios'
import vttJson from 'vtt-json'

export default {
  name: 'SmoothSubs',

  props: {
    src: {
      type: String,
      default: ''
    },
    time: {
      type: Number,
      default: 0
    },
    offset: {
      type: Number,
      default: 0
    },
    fade: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      subs: []
    }
  },

  computed: {
    lines() {
      const ms = this.time === 0 ? 0 : this.time - this.offset
      return this.subs.filter(line => line.start <= ms && line.end >= ms)
    }
  },

  created() {
    axios
      .get(this.src)
      .then(res => vttJson(res.data))
      .then(json => {
        this.subs = json
      })
  }
}
</script>

<style>
.smooth-subs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 2px #000,
    1px 1px 2px #000;
}

.smooth-subs p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0.5em;
}

.smooth-subs p:first-child {
  padding-top: 0.5em;
}

.smooth-subs p:last-child {
  padding-bottom: 0.5em;
}

.smooth-subs.dark p {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: none;
}

.smooth-subs.light p {
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: none;
  color: black;
}

.subsfade-enter-active {
  transition: opacity 300ms;
}
.subsfade-enter,
.subsfade-leave-to {
  opacity: 0;
}
</style>
