<template>
  <div class="timer">
    <slot :time="{ remaining, formatted: timeify(remaining) }">
      <p class="timer-remaining">
        <span>{{ timeify(remaining) }}</span>
      </p>
    </slot>
  </div>
</template>

<script>
export default {
  props: {
    duration: {
      type: Number,
      default: 10
    },
    autostart: {
      type: Boolean,
      default: false
    },
    tickEvent: {
      type: Boolean,
      default: true
    }
  },

  data() {
    return {
      remaining: this.duration,
      intvlId: null
    }
  },

  created() {
    if (this.autostart) {
      this.start()
    }
  },

  beforeDestroy() {
    this.stop()
  },

  methods: {
    start() {
      this.$emit('timerstart', this.remaining)
      if (this.invlId) clearInterval(this.intvlId)
      this.intvlId = setInterval(this.tick, 1000)
    },

    tick() {
      this.remaining--
      if (this.tickEvent) this.$emit('timertick', this.remaining)
      if (this.remaining === 0) {
        clearInterval(this.intvlId)
        this.$emit('timerend', this.remaining)
      }
    },

    stop() {
      clearInterval(this.intvlId)
    },

    reset() {
      this.remaining = this.duration
    },

    timeify(sec) {
      var m = '0' + Math.floor(sec / 60)
      var s = '0' + (sec - m * 60)
      return m.substr(-2) + ':' + s.substr(-2)
    }
  }
}
</script>
