<template>
  <div
    id="app"
    :class="{ 'debug-on': debugEnabled }"
    class="container"
  >
    <div class="header">
      <div class="header__left">
        <div class="logo">
          <img
            src="~@/assets/logo.svg"
            alt="Menu"
            role="img"
          >
          <img
            class="logo__mobile"
            src="~@/assets/logo-mobile.svg"
            alt="Menu"
            role="img"
          >
        </div>
      </div>
      <div
        v-show="!menuHide"
        class="header__right"
      >
        <span class="button pdf-version"><a href="">Accessible PDF</a></span>
        <div class="progress">
          <span class="progress__current">{{ currentPage }}</span>
          <span class="progress__total">6</span>
        </div>
        <cad-menu
          :autoclose="true"
          :visible="false"
        />
      </div>
    </div>

    <main role="main">
      <transition
        :name="pageTransition"
        @before-enter="beforeEnterTransition"
        @after-enter="afterEnterTransition"
      >
        <router-view :key="$store.state.bookmark" />
      </transition>
    </main>

    <debug-menu v-show="debugEnabled" />
  </div>
</template>

<script>
import cheatKeys from '@/utils/CheatKeys'
import structValidator from '@/utils/StructureValidator'
import NavMenu from '@/components/NavMenu'
import DebugMenu from '@/components/DebugMenu'
import struct from '@/router/structure.json'

export default {
  components: {
    'cad-menu': NavMenu,
    DebugMenu
  },

  data() {
    return {
      menuHide: false,
      currentPage: 0,
      direction: ''
    }
  },

  computed: {
    debugEnabled() {
      return this.$store.state.debug
    },
    pageTransition() {
      switch (this.direction) {
        case 'down':
          return 'slideUp'
        case 'up':
          return 'slideDown'
        default:
          return 'fade'
      }
    }
  },

  watch: {
    '$route'(to, from) {
      // on page change
      this.$store.commit('setBookmark', to.path)
      this.$store.commit('setPageId', to.name)
      // switch language
      if (to.query.lang && to.query.lang !== this.$store.state.lang) {
        this.$store.commit('setLang', to.query.lang)
        document.querySelector('html').setAttribute('lang', to.query.lang)
        document.querySelector('html').setAttribute('dir', to.query.lang.indexOf('ar') === 0 ? 'rtl' : 'ltr')
      }
      this.currentPage = to.path.split('/')[1]
      this.menuHide = this.$store.state.pageId === '000-010'
      
      // slide transition if programmtically moving in same topic
      const pathFrom = from.path.split('/')
      const pathTo = to.path.split('/')
      if (pathFrom[1] === pathTo[1]) {
        if (+pathTo[2] > +pathFrom[2]) {
          this.direction = 'down'
        } else if (+pathTo[2] < +pathFrom[2]) {
          this.direction = 'up'
        }
      }
    }
  },

  created() {
    if (!structValidator.validate()) {
      this.$store.dispatch('progress/refresh')
    }
    document.querySelector('html').setAttribute('lang', this.$store.state.lang)
    document.querySelector('html').setAttribute('dir', this.$store.state.lang.indexOf('ar') === 0 ? 'rtl' : 'ltr')
  },

  mounted() {
    cheatKeys('debug', window, this.toggleDebug)
    cheatKeys('reset', window, this.resetProgress)
  },

  methods: {
    toggleDebug() {
      this.$store.commit('setDebug', !this.debugEnabled)
    },
    resetProgress() {
      this.$store.dispatch('reset')
      this.$router.push('/0/0')
    },
    beforeEnterTransition() {
      document.body.classList.add('hideScroll')
    },
    afterEnterTransition() {
      document.body.classList.remove('hideScroll')
      this.direction = ''
    }
  }
}
</script>

<style>
@import "./styles/generic.css";
@import "./styles/app.css";
@import "./styles/global.css";
@import "./styles/fonts.css";
@import "./styles/common.css";
@import "./styles/background.css";
@import "./styles/header.css";
@import "./styles/nav.css";
@import "./styles/content.css";
@import "./styles/columns.css";
@import "./styles/stages.css";
@import "./styles/popup.css";
@import "./styles/video.css";
@import "./styles/footer.css";
@import "./styles/page-anims.css";
</style>
